<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'category/assets/css/style_cat.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?
    family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <title>VimeoBrute</title>
    <!-- <link rel="shortcut icon" href="/assets/images/1.png" type="image/x-icon"> -->


</head>

<body>
<header class="header">
  <div class="container">
    <div class="header__iner">
      <!-- <div class="header__logo">VimeoBrute</div> -->
      <nav class="header__logo">
        <a class="nav_logo" href="../home">VimeoBrute</a>
      </nav>
      <nav class="nav">
        <a class="nav_link" href="../category#international">International</a>
        <a class="nav_link" href="../category#economy">Economy</a>
        <a class="nav_link" href="../category#science-and-technology">Science and Technology</a>
        <a class="nav_link" href="../category#entertainment">Entertainment</a>
        <a class="nav_link" href="../category#sport">Sports</a>
        <a class="nav_link" href="../category#health">Health</a>
        <a class="nav_link" href="../category#nature">Nature</a>
      </nav>
      <nav class="auth">
        <a class="auth_link" href="#login">Login</a>
        <a class="auth_link" href="#sign">Sign</a>
      </nav>
    </div>
  </div>
</header>


<section class='section'>
  <div class="container__cat">
    <div class="section__header">
      <a class="link_category" href="#">1</a>
    </div>
    <div class="about">
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img1">
            <img src="{% static 'news/assets/image/1.png' %}" alt="">
          </a>
          <!-- <p class="description__img">description about image</p> -->
        </div>
        <!-- <p>description about image</p> -->
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img2">
            <img src="{% static 'news/assets/image/2.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img3">
            <img src="{% static 'news/assets/image/3.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img4">
            <img src="{% static 'news/assets/image/4.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img1">
            <img src="{% static 'news/assets/image/1.png' %}" alt="">
          </a>
          <!-- <p class="description__img">description about image</p> -->
        </div>
        <!-- <p>description about image</p> -->
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img2">
            <img src="{% static 'news/assets/image/2.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img3">
            <img src="{% static 'news/assets/image/3.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img4">
            <img src="{% static 'news/assets/image/4.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img1">
            <img src="{% static 'news/assets/image/1.png' %}" alt="">
          </a>
          <!-- <p class="description__img">description about image</p> -->
        </div>
        <!-- <p>description about image</p> -->
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img2">
            <img src="{% static 'news/assets/image/2.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img3">
            <img src="{% static 'news/assets/image/3.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img4">
            <img src="{% static 'news/assets/image/4.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img1">
            <img src="{% static 'news/assets/image/1.png' %}" alt="">
          </a>
          <!-- <p class="description__img">description about image</p> -->
        </div>
        <!-- <p>description about image</p> -->
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img2">
            <img src="{% static 'news/assets/image/2.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img3">
            <img src="{% static 'news/assets/image/3.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="about_item">
        <div class="about_img">
          <a href="../showNews#international/img4">
            <img src="{% static 'news/assets/image/4.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="inform">
  <div class="container">
    <div class="inf">
      <div class="inf__item">
        <div class="inf_logo">VimeoBrute</div>
      </div>
      <div class="inf__item">
        <div class="inf_page">VimeoName</div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#international">International</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#economy">Economy</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#science-and-technology">Science and Technology</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#entertainment">Entertainment</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#sport">Sport</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#health">Health</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#nature">Nature</a>
        </div>
        <div class="inf_site">
          <a class="inf_inter" href="../category#text-news">Text News</a>
        </div>

      </div>
      <div class="inf__item">
        <div class="inf_inter">
          <a class="inf_inter" href="#offer-news">Предложить новость</a>
        </div>
        <div class="inf_inter">
          <a class="inf_inter" href="#support">Обратная связь</a>
        </div>
      </div>
      <div class="inf__item">
        <div class="inf_contact">Наши контакты</div>
        <div class="inf_text">+78888888888</div>
        <div class="inf_text ">adm@mail.com</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
